.chart-container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    width: 80%;
}

canvas {
    height: 200px;
    width: 200px;
    margin: 0 5px;
}

form {
    border: 1px solid #00ff1a;
    padding: 1em;
    width: 40%;
}